# =========================================
# 1. Archivos de Python y Entorno Virtual
# =========================================
__pycache__/
*.pyc
*.pyd
*.pyo
venv/
.venv/
env/

# Base de datos de desarrollo (SQLite)
db.sqlite3

# =========================================
# 2. Archivos del Sistema Operativo
# =========================================
.DS_Store
Thumbs.db

# =========================================
# 3. Archivos del Sistema / NPM / IDE
# =========================================
node_modules/
.vscode/
*.log
*.tmp

# =========================================
# 4. Archivos sensibles (¡NO SUBIR!)
# =========================================
.env
config.ini
secrets.json
