:root {
    --primary--colors: ;
    --second--colors: #F77F00;
    --third--colors: black;
    --fourth--color: rgb(249, 8, 8);
    --fifth--color: #555;
    --sixth--color: rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*------------------
       HEADER
------------------*/
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 50px 0 20px 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.site-logo {
    border-radius: 10px;
}

.slogan {
    font-family: "Dancing Script", cursive;
    color: rgb(229, 112, 22);
    font-size: 1.1rem;
}

header h1,
header p {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.0rem 0;
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

.menu::before {
    content: '≣';
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu.open::before {
    content: '✕';
    width: 27px;
    height: 27px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 192px;
    z-index: 999;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav li {
    width: 100%;
}

.nav a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(229, 112, 22);
    font-weight: 400;
    text-align: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.999);
    font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
    font-weight: 500;
}

.nav.open {
    display: flex;
}

/*----------------
        MAIN
----------------*/

/*--------
 CAROUSEL
--------*/
main {
    grid-area: main;
    padding: 1rem 0;
    margin-top: 230px;
}

.section-title {
    text-align: center;
    padding: 10px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    position: relative;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slide-info p {
    color: gray;
    font-size: 1em;
    margin: 5px 0;
}

.slide-info {
    font-family: 'Lora', serif;
}



/*------------------
  SECTION HISTORIA
------------------*/

.section-title-banner {
    background-color: rgb(229, 112, 22);
    padding: 30px;
    margin: 40px 0;
}

.section-title-banner h2 {
    color: whitesmoke;
    font-size: 1.9em;
}

.section-title-banner p {
    color: whitesmoke;
    font-size: 1em;
}

.section-title-banner h2,
.section-title-banner p {
    display: grid;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0.0rem 0;
}

.story-summary-section {
    padding: 0 20px 30px 20px;
}

.story-content-summary h2 {
    padding: 20px 0;
    font-size: 2.5rem;
}

.story-image-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.story-summary-image {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.cta-secondary {
    color: rgb(229, 112, 22);
    font-weight: 600;
}

.cta-secondary:hover {
    font-weight: bolder;
}


/*-------------------
  CARDS DESTACADOS
-------------------*/

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 70px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-info {
    padding: 30px;
    text-align: left;
}

.card-header h3 {
    font-family: 'Grand Hotel', cursive;
    color: rgb(229, 112, 22);
    ;
    margin-top: 0;
    font-size: 1.8em;
    padding: 20px 10px 10px 10px;
}

.card-info p {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: 0.95em;
}

.product-price {
    font-size: 1.4em;
    color: #228B22;
    font-weight: 700;
}

.product-price .units {
    font-size: 0.7em;
    font-weight: 400;
    color: #777;
}

.cta-secondary-card {
    display: block;
    width: 90%;
    margin: 30px auto 0;
    padding: 20px;
    background-color: rgb(229, 112, 22, 0.9);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.cta-secondary-card:hover {
    background-color: rgb(229, 112, 22, 3);
}

.cta-catalog-wrapper {
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/*-----------------
    CONTACTANOS
-----------------*/

.intro-section {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 15px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.intro-section h1 {
    text-align: center;
    color: #8b4513;
    font-size: 2.8em;
    margin-bottom: 25px;
}


.options-container {
    display: grid;
    gap: 30px;
    padding: 30px 15px;
    margin: 0 auto 50px;
    grid-template-columns: 1fr;
}

.option-card {
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s;
}

.option-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.option-card h2 {
    color: #8b4513;
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
    margin-bottom: 20px;
}

.option-card p {
    line-height: 1.5;
    font-size: 0.95em;
    color: #444;
}

.whatsapp-option {
    border-left: 5px solid #25D366;
}

.delivery-option {
    border-left: 5px solid #007bff;
}

.small-note {
    font-size: 0.85em;
    color: #888;
    margin-top: 15px;
}

.payment-option {
    border-left: 5px solid #ffc107;
}

.trust-intro-text {
    color: #a0522d;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.payment-list-small {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.payment-list-small li {
    padding: 6px 0;
    border-bottom: 1px dotted #f0e6d6;
    font-size: 0.95em;
    color: #444;
}

.payment-list-small i {
    color: #28a745;
    margin-right: 8px;
    width: 18px;
    text-align: center;
}

.bank-details-box-small {
    background-color: #f8f8f8;
    border-top: 2px dashed #e0e0e0;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85em;
}

.bank-details-box-small p {
    margin: 5px 0;
    color: #666;
    line-height: 1.3;
}

.cta-primary {
    color: #25D366;
    border: none;
}

.whatsapp-option .cta-primary i {
    margin-right: 5px;
    font-size: 1.2em;
    color: #25D366;
}

/*-----------------
       FOOTER 
-----------------*/

.main-footer {
    background-color: #333333;
    /* background-color: rgb(229, 112, 22); */
    padding: 40px 20px 10px;
    font-family: 'Montserrat', sans-serif;
}

.footer-grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #444;
    text-align: center;
    grid-template-columns: 1fr;
}

.footer-logo {
    border-radius: 10%;
}

.navigation-info img {
    margin: 10px;
}

.footer-links {
    list-style: none;
}

.contact-support h3 {
    color: white;
}

.fas {
    color: white;
}

.contact-details p,
.contact-details a {
    color: white;
}

.social-links-section h3 {
    color: white;
}

.social-links a,
.social-links i {
    color: white;
}

.mt-20 {
    margin: 20px 0 0 0;
}

.copyright-info p {
    color: white;
}

.footer-bottom p {
    color: white;
}

/* Busca esta regla y cámbiala: */
.footer-links a {
    color: white;
    /* <-- CAMBIADO A BLANCO */
    text-decoration: none;
    transition: color 0.3s;
    list-style: none;
}

/* Y para el hover, podemos usar el color del fondo original o un color que contraste: */
.footer-links a:hover {
    color: rgb(229, 112, 22);
    /* Color oscuro al pasar el mouse */
}

/*
.categorias {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

.categorias article {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.categorias img {
    width: 100%;
    height: 86%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categorias img:hover {
    transform: scale(0.99);
    /* Se encoge ligeramente */
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
/* Un poco de sombra para dar profundidad */
/* cursor: pointer; */
/* } */

/* .categorias button {
    width: 100%;
    background-color: orangered;
    color: white;
    border: none;
    padding: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias button:hover {
    background-color: red;
}  */

/*
FOOTER
*/
/* 
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2d2
}

.article-one,
.article-two,
.article-three {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-one a {
    text-decoration: none;
}

.article-one h3 {
    font-size: x-small;
    padding: 5px 0;
}

.article-one p {
    color: var(--third--colors);
    font-size: x-small;
    font-weight: 400;
    cursor: pointer;
    margin: 2px 0;
}

.article-one p:hover {
    color: var(--fifth--color);
}

.article-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-two h3 {
    font-size: x-small;
    padding: 5px 0;
}

.article-two a {
    display: flex;
    margin: 1px 0;
    align-items: center;
    font-size: x-small;
    text-decoration: none;
    color: var(--third--colors);
}

.article-two a:hover {
    color: var(--fifth--color);
}

.article-two img {
    width: 20px;
    height: auto;
    margin: 0 4px 0 0;
}

.article-three section {
    display: flex;
    flex-direction: row;
}

.article-three img {
    width: 25px;
    height: auto;
    transition: transform 0.8s ease;
    margin: 4px;
}

.article-three img:hover {
    transform: scale(1.3);
}

body.menu-open main {
    margin-top: 300px;
    /* Ajusta según el tamaño de tu menú */
/* transition: margin-top 0.3s ease; */
/* }  */

/*
MEDIA QUERY
*/

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px 40px;
    }

    .menu {
        display: none;
    }

    .nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        top: auto;
        background: transparent;
        backdrop-filter: none;
    }

    .nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    .nav li {
        width: auto;
    }

    .nav a {
        width: auto;
        border: none;
        padding: 10px 16px;
        background-color: transparent;
    }

    main {
        padding: 3rem 0;
    }

    .story-summary-section {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 40px;
    }

    .story-image-container,
    .story-content-summary {
        flex: 1;
        width: auto;
    }

    .story-summary-image {
        max-width: 100%;
    }

    .catalog-cards-section {
        display: flex;

    }

    .section-title-banner {
        background-color: rgb(229, 112, 22);
        padding: 30px;
        margin: 40px 0;
    }

    .options-container {
        grid-template-columns: repeat(2, 1fr);
    }



}

@media (min-width: 1024px) {
    .categorias img {
        width: 100%;
        height: 91%;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .options-container {
        display: flex;
    }
}